body {
  background-color: #ffffff;
  color: #2a2a2a;
}

p {
  color: rgba(15, 64, 199, 0.938);
  width: 220px;
  height: 150px;
  background-image: url(blue-crystal-pattern-background-vector-19752502.jpg);
  background-repeat: no-repeat;
  margin: 10px;
}

.for-pattern {
  height: 400px;
  width: 400px;
  background-image: url(blue-crystal-pattern-background-vector-19752502.jpg);
  background-repeat: repeat;
  background-repeat: repeat-x;
  margin: 10px;
  border: 5px solid burlywood;
  border-radius: 10px;
  font-family: Arial;
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  text-transform: uppercase; /* все с заглавных*/
  -webkit-box-shadow: 0px 0px 19px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 19px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 19px 10px rgba(0, 0, 0, 0.75);
}

.for-pattern2 {
  font-family: Tahoma;
  font-size: 30px;
  height: 1200px;
  width: 1200px;
  margin: 10px;
  max-width: 400px;
  max-height: 400px;
  background-image: url(blue-crystal-pattern-background-vector-19752502.jpg);
  background-repeat: no-repeat;
  background-color: green;
  background-position: 85px 50px;
  border: 4px dashed burlywood;
  border-radius: 5px;
  text-decoration: underline;
  text-align: end;
  /* box shadow generator - для создаиня теней блоку*/
  b-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

/* list-style: none;  - убирает маркеры в списке*/
