* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #2a2a2a;
}

.first-p {
  color: rgba(15, 64, 199, 0.938);
  width: 220px;
  height: 150px;
  background-image: url(blue-crystal-pattern-background-vector-19752502.jpg);
  background-repeat: no-repeat;
  margin: 10px;
}

textarea {
  width: 420px;
}

.for-pattern {
  height: 400px;
  width: 400px;
  background-image: url(blue-crystal-pattern-background-vector-19752502.jpg);
  background-repeat: repeat;
  background-repeat: repeat-x;
  margin: 10px;
  border: 5px solid burlywood;
  border-radius: 10px;
  font-family: Arial;
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  text-transform: uppercase; /* все с заглавных*/
  -webkit-box-shadow: 0px 0px 19px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 19px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 19px 10px rgba(0, 0, 0, 0.75);
}

.for-pattern2 {
  font-family: Tahoma;
  font-size: 30px;
  height: 1200px;
  width: 1200px;
  margin: 10px;
  max-width: 400px;
  max-height: 400px;
  background-image: url(blue-crystal-pattern-background-vector-19752502.jpg);
  background-repeat: no-repeat;
  background-color: green;
  background-position: 85px 50px;
  border: 4px dashed burlywood;
  border-radius: 5px;
  text-decoration: underline;
  text-align: end;
  /* box shadow generator - для создаиня теней блоку*/
  b-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

/* list-style: none;  - убирает маркеры в списке*/

.article-about-cat {
  color: mediumseagreen;
  background-color: wheat;
  width: 425px;
}

ul {
  color: aqua;
}

li {
  color: darkorchid;
}

/* Селектор айди, их не может быть больше 1го на странице, в отличии от классов*/
#box1 {
  text-decoration: underline;
}

.form-item1 {
  color: aqua;
}

/* селектор атрибута, ищет в ХТМЛ файле именно такой атрибут и стилизирует его*/
[href="http://google.com"]
{
  color: red;
  text-decoration: line-through;
}

/* селектор потомка*/

div span {
  margin-bottom: 10px;
}

.box2 a {
  font-size: 20px;
}

.box2 {
  padding-left: 30px;
}

.box2 .box2-item > li > a {
  color: black;
  font-size: 10px;
}

.box2-item {
  color: darkred;
  font-size: medium;
}

.box2-item ul li {
  color: blue;
}

.box2-item ul li a {
  color: aqua;
}

.box3 {
  padding-left: 20px;
}
.box3 ul ol > a {
  font-size: 10px;
}

.box5 {
  margin-bottom: 10px;
}

div + span {
  background-color: rgb(199, 155, 102);
}

.box-flex-trainer {
  padding: 30px;
  border: 5px solid #2a2a2a;
  width: 250px;
  border-radius: 10px;
  background-color: dimgrey;
  color: #ffffff;
  margin-bottom: 10px;
  -webkit-box-shadow: 10px 10px 21px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 21px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 21px -5px rgba(0, 0, 0, 0.75);
}

.main-box {
  display: flex;
}

.test-link {
  background: green;
  color: #ffffff;
  width: 100px;
  height: 200px;
}
